@font-face {
    font-family: 'Menlo';
    src: url('/fonts/Menlo-Regular.eot');
    src: local('Menlo Regular'), local('Menlo-Regular'),
        url('/fonts/Menlo-Regular.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Menlo-Regular.woff2') format('woff2'),
        url('/fonts/Menlo-Regular.woff') format('woff'),
        url('/fonts/Menlo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: local('DIN-Condensed-Bold'), local('DIN-Condensed-Bold'),
        url('/DIN-condensed-Bold.woff') format('woff'),
        url('/fonts/DIN-condensed-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}